<!DOCTYPE html>

<html class="no-js" lang="en">
{% load static %}
<head>


   <meta charset="utf-8">
	<title>ERROR 404</title>
	<meta name="description" content="">
	<meta name="author" content="">


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">



	   <link rel="stylesheet" href="{% static 'tcs/css/base.css'%}">
	   <link rel="stylesheet" href="{% static 'tcs/css/main.css'%}">
	   <link rel="stylesheet" href="{% static 'tcs/css/vendor.css'%}">


		<script src="{% static 'tcs/js/modernizr.js'%}"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body>

	<!-- header
   ================================================== -->
   <header class="main-header">
   	<div class="row">
   		<div class="logo">
	         <h1 style="font-size: 70px;">ZEUS</h1>
	      </div>
   	</div>


   </header>


   <main id="main-404-content" class="main-content-static">

   	<div class="content-wrap">

		   <div class="shadow-overlay"></div>

		   <div class="main-content">
		   	<div class="row">
		   		<div class="col-twelve">

			  			<h1 class="kern-this">404 Error.</h1>
			  			<p>
						Oooooops! Looks like nothing was found at this location.
						Maybe try on of the links below, for more info
			  			</p>



			   	</div> <!-- /twelve -->
		   	</div> <!-- /row -->
		   </div> <!-- /main-content -->

		   <footer>
		   	<div class="row">


		  			<div class="col-five tab-full bottom-links">
			   		<ul class="links">
				   		<li><a href="#">Homepage</a></li>
				         <li><a href="#">About</a></li>
				         <li><a href="mailto:joe@quatro.com">Report Error</a></li>
				   	</ul>

				   	<div class="credits">
				   		<p>Design by <a href="#" title="styleshout">ZEUS</a></p>
				   	</div>
			   	</div>

		   	</div>
		   </footer>

		</div>
   </main>

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
	 ================================================== -->
   <script src="{% static 'tcs/js/jquery-2.1.3.min.js'%}"></script>
   <script src="{% static 'tcs/js/plugins.js'%}"></script>
   <script src="{% static 'tcs/js/main.js'%}"></script>


</body>

</html>
