{% extends 'nav.html' %}
{% block content %}
{% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,600i,700,900|Ubuntu&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'team/teamview/teamstyle.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'team/teamview/card.css' %}">
    <title>Document</title>

    <script src="https://kit.fontawesome.com/de78bb5c93.js" crossorigin="anonymous"></script>
<body>



    <container>
        <h1 id="createn" class="team">Team <button type="button" class="btn btn-success new"> <i class="fas fa-plus"> </i>Create Team</button></h1>
    </container>

    <!-- cards -->
    <section class="section-plans" id="section-plans">
        <div class="row">
					{% for team in teams %}
          <div class="col-1-of-3">
            <div class="card">
              <div class="card__side card__side--front-1">
                <div class="card__title card__title--1">
                  <i class="fas fa-users"></i>
                  <h4 class="card__heading">{{ team.teamName }}</h4>
                </div>

                <div class="card__details">
                  <ul>
                    <li>Team Leader   : {{ team.teamLeader }}</li>
                    <li>Directory Link: {{ team.directoryLink }}</li>
                    <li>Created Date  : {{team.created_date }}</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back-1">
                <div class="card__cta">
                  <div class="row">
											<a href="{% url 'viewMembers' team=team.teamName %}" class="btn btn--white ppback">View Members</a>
                      <a href="{% url 'addMembers' team=team.teamName %}" class="btn btn--white ppback">Add Members </a>
											<a href="{% url 'viewTimeline' team=team.teamName %}" class="btn btn--white ppback">View Timeline</a>
                      <a href="{% url 'editTimeline' team=team.teamName %}" class="btn btn--white ppback">Edit Timeline</a>
											<a href="{% url 'editTeam' team=team.teamName %}" class="btn btn--white ppback">Edit Team</a>
                  </div>
                </div>
							</div>
            </div>
          </div>
					{% endfor %}
        </div>
      </section>

      <!-- Create Team -->
			{% load crispy_forms_tags %}
      <div class="popup ">
        <div class="popup-content">
            <form method='POST'>
							<i class="fas fa-times-circle newp"></i>
							{% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="newb">Create</button>
            </form>
         </div>
      </div>
    <!-- testin -->



<!-- testing over -->

    <script src="{% static 'team/teamview/new.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
{% endblock %}
